$primary-color: #aa3377;
$raindowtext: linear-gradient(40deg, #97178c 0%, #d6716d 50%, #a0fafb 100%);
$whitish-text : #c6c8ce;

#title {
  color: $primary-color;
}

.loader {

  position: absolute;
  z-index: 11;
  top: 100;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: #0a0a0a;
}

.loader__title {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.loader__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-color: #fff;
}

main {
  background-color: black;
}

body {
  height: 100%;
  --color-text: #fff;
  background-color: #000;
  --color-link: #697c7e;
  --color-link-hover: #fff;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 10000px;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.links {
  display: flex;
  justify-content: center;

}

.links>a {
  padding: 30px;
  color: $whitish-text;

  &:hover {
    color: $primary-color;
  }
}

.arrow-sm {
  color: $primary-color;
  padding: 20;
  animation-name: arrow-anim;
  -webkit-animation-name: arrow-anim;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
}

.arrow-lg {
  color: $primary-color;
  padding: 20;
  animation-name: arrow-anim;
  -webkit-animation-name: arrow-anim;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
}

.arrow-down {
  display: flex;
  // flex-direction: column;
  margin-top: 10rem;

}

@-webkit-keyframes arrow-anim {

  0%,
  10% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.frame {
  position: fixed;
  top: 10;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: relative;
  align-items: center;
}


.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  will-change: opacity;
  opacity: 0;
}

.header__title {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  letter-spacing: 0.15rem;
  background: linear-gradient(40deg, #97178c 0%, #d6716d 50%, #a0fafb 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 100;
  letter-spacing: 0.5vw;

}

.header__text {
  font-size: 2rem;

  color: $whitish-text;
}



.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  will-change: opacity;
  opacity: 0;
  top: 0;
  line-height: 1.2;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  max-width: calc(100% - 80px);
  left: 50%;
  transform: translateX(-50%);
  padding: 0 40px;
}

.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.24);
  margin-top: 10px;
  margin-left: 10px;

}

.project-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  // flex-direction: column;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
  z-index: 9999;
  overflow-y: auto;
}

.overlay {
  position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  height: 400px;
  width: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: $primary-color;
}

.project:hover .overlay {
  opacity: 1;
}

.icons {
  display: flex;
  flex-direction: column;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




.chrome {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  -webkit-background-size: 200px;
  color: $raindowtext;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {

  0%,
  10% {
    background-position: -1000px;
  }

  20% {
    background-position: top left;
  }

  90% {
    background-position: top right;
  }

  100% {
    background-position: 1000px;
  }
}
